:root {
  --dark: #1c1c1c;
  --yellow: #f8d26d;
  --timber: #dfa46d;
  --plum: #724d50;
  --lightest-blue: #e7f7fd;
  --light-blue: #cdedfc;
  --blue: #9fdcf9;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark);
  overflow: hidden;
  height: 100vh;
}

.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--plum);
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 0.4;
}

.health {
  letter-spacing: -5px;
}

.gameBoy {
  max-width: 420px;
  background: var(--yellow);
  border-radius: 10px;
  margin: 60px auto;
  height: 657px;
  padding: 40px 16px 0 16px;
}

.gameBoy__tamagoContainer {
  border: 10px solid var(--lightest-blue);
  outline: 10px solid var(--timber);
  background-color: var(--light-blue);
  padding: 15px;
}

.gameBoy__buttons {
  display: flex;
  justify-content: center;
  gap: 34px;
  margin-top: 24px;
}

.gameBoy__button {
  position: relative;
  width: 68px;
  height: 68px;
  border-radius: 50px;
  background-color: var(--yellow);
  border: 5px solid var(--timber);
}

.gameBoy__button:hover::after {
  box-shadow: none;
}

.gameBoy__button::after {
  content: "";
  position: absolute;
  bottom: -7%;
  left: -7%;
  width: 115%;
  height: 120%;
  border-radius: 50%;
  box-shadow: 0px 10px 0px var(--plum);
}

.gameBoy__tamagoStats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 15px auto 20px auto;
}

.gameBoy__tamagoScreen {
  border: 10px solid var(--blue);
  height: 280px;
  margin: auto;
  padding: 50px;
  position: relative;
}

.gameBoy__tamago {
  position: absolute;
  background: url(./images/tamago/Tamago.png);
  background-position: center;
  width: 240px;
  height: 150px;
  animation: playing 1s steps(2) infinite;
}

.gameBoy__tamago::after {
  content: "";
  position: absolute;
  height: 8px;
  width: 162px;
  background-color: var(--white);
  left: 35px;
  bottom: 1px;
}

.gameBoy__tamagoInfo {
  margin: 15px auto;
  background-color: var(--lightest-blue);
  text-transform: uppercase;
  text-align: center;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 56px;
  color: var(--plum);
}

.gameBoy__icon {
  width: 40px;
  height: 40px;
}

/*tamago animations*/
@keyframes happy {
  0% {
    background-position: 0 -13px;
  }
  100% {
    background-position: 0 -13px;
  }
}

@keyframes dead {
  0% {
    margin-top: 40px;
    height: 100px;
    background-position: 0 -360px;
  }
  100% {
    margin-top: 40px;
    height: 100px;
    background-position: 0 -360px;
  }
}

@keyframes sleepy {
  0% {
    background-position: 0 -488px;
  }
  100% {
    background-position: 0 -488px;
  }
}

@keyframes sleeping {
  0% {
    background-position: 0 -666px;
  }
  100% {
    background-position: 0 -1022px;
  }
}

@keyframes hungry {
  0% {
    background-position: 0 -1023px;
  }
  100% {
    background-position: 0 -1023px;
  }
}

@keyframes eating {
  0% {
    background-position: 0 -1201px;
  }
  100% {
    background-position: 0 -1557px;
  }
}

@keyframes bored {
  0% {
    background-position: 0 -1941px;
  }
  100% {
    background-position: 0 -1941px;
  }
}

@keyframes playing {
  0% {
    background-position: 0 -1571px;
  }
  100% {
    background-position: 0 -1955px;
  }
}
